input.is-invalid {
  border: 1px solid red;
}

.text-underline {
  text-decoration: underline !important;
}

.heartbeat {
	font-size: 120px;
  width: 120px;
	animation: beat .35s infinite alternate;
	transform-origin: center;
}

/* Heart beat animation */
@keyframes beat{
	to { transform: scale(1.3); }
}

@media only screen and (max-width: 768px) {
  .heartbeat {
    width: 100px;
  }
}

/* Logo */
@media only screen and (max-width: 768px) {
  .logo.logo-width-1 a img {
    width: 120px;
    min-width: 120px;
  }
}


/* Header */
.header-action-2 .header-action-icon-2 > a span.pro-count.blue {
  background-color: #f00050;
}


/* Button */
button.submit, button[type='submit'] {
  border: none;
}

button.submit:hover, button[type='submit']:hover {
  background-color: #005792 !important;
  border: none;
}

.product-cart-wrap .product-card-bottom .add-cart .add {
  background-color: #dbf7ff;
}

/* Product Card */
.two-lines {
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}


@media only screen and (max-width: 450px) {
  .product-cart-wrap .product-content-wrap {
    padding: 0 8px 8px 8px;
  }

  .btn-min-padding {
    padding: 0.375rem 0.55rem;
  }
}


/* Shop Sidebar */
.widget-category-2 .count {
  background-color: #f32c68;
}


/* banner */
.banner-img.style-2 {
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}


/* Product Card :: Count Down */
.deals-countdown .countdown-section {
  padding: 15px 5px 25px 5px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 4px;
  margin-bottom: 1.9rem;
}

.deals-countdown .countdown-section .countdown-amount {
  font-size: 18px;
  width: 43px;
  height: 43px;
  line-height: 43px;
}

@media only screen and (max-width: 450px) {

  .deals-countdown .countdown-section {
    margin-left: 6px;
    margin-right: 6px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .deals-countdown .countdown-section .countdown-amount {
    font-size: 18px;
    width: 48px;
    height: 48px;
    line-height: 48px;
  }

}





/* Product Card */
@media only screen and (max-width: 450px) {

  .product-cart-wrap .product-content-wrap h2 {
    font-size: 14px;
  }

  .product-cart-wrap.style-2 .product-content-wrap {
    margin-top: 10px;
  }

  .product-cart-wrap.style-2 .product-content-wrap .deals-content {
    padding: 55px 8px 25px 8px;
  }

  .product-cart-wrap .product-content-wrap .product-price span {
    font-size: 16px;
  }
}


/* Subscribe Form */
@media only screen and (max-width: 450px) {

  .form-subscriber--input {
    height: unset;
  }
}


/* Category Carousel */
@media only screen and (max-width: 450px) {
  .carausel-10-columns-cover .carausel-10-columns .card-2 {
    margin-right: 6px;
    margin-left: 6px;
  }
}